/* Color palette */
$moonstone-blue: rgba(105, 185, 190, 1);
$hansa-yellow: rgba(239, 219, 107, 1);
$gray: rgba(189, 189, 191, 1);
$sandstorm: rgba(239, 215, 76, 1);
$platinum: rgba(230, 229, 232, 1);

/* Palette 2 */
$turquoise: rgba(45, 225, 194, 1);
$med-turquoise: rgba(106, 213, 203, 1);
$cambridge-blue: rgba(127, 190, 171, 1);
$mummys-tomb: rgba(126, 153, 138, 1);
$old-silver: rgba(133, 135, 124, 1);